<!DOCTYPE html>
<html lang="">


<head>
    <meta charset="UTF-8">
    <title>COVID HELP</title>
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

</head>

<body class="p-3">

<nav class="one-edge-shadow
  sticky-top navbar
  navbar-expand-lg
   navbar-light bg-white">
    <a class="navbar-brand" href="">COVID-HELP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">

        </li>

      </ul>



      <ul class=" navbar-nav my-2 my-lg-0">
         <li class="nav-item ">
          <a class="nav-link" href="/index">India Status<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/banghosp">Bangalore<span class="sr-only">(current)</span></a>
        </li>
          <li class="nav-item ">
          <a class="nav-link" href="/karnataka">Karnataka Status<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/selfs">Selfassessment<span class="sr-only">(current)</span></a>
        </li>


      </ul>


    </div>
  </nav>



<div class="wrapper row3">
  <main class="hoc container clear"> 
    

    <article class="group">
      <div class="one_half first">
        <h6 class="heading underline font-x2">COVID-19</h6>
        <p>Coronavirus disease 2019 (COVID-19) is a contagious disease caused by severe acute respiratory syndrome coronavirus 2 (SARS-CoV-2). The first case was identified in Wuhan, China, in December 2019. It has since spread worldwide, leading to an ongoing pandemic.</p>
        <p class="btmspace-30">Symptoms of COVID-19 are variable, ranging from mild symptoms to severe illness.Common symptoms include fever, cough, fatigue, breathing difficulties, and loss of smell and taste. People with the same infection may have different symptoms, and their symptoms may change over time.</p>
        <footer><a class="btn" href="#">Read More</a></footer>
      </div>
      <div class="one_half"><a class="imgover" href="#"><img class="borderedbox inspace-10" src="images/demo/covid image.jpg" alt=""></a></div>
    </article>

    <div class="clear"></div>
  </main>
</div>

<div class="wrapper bgded overlay dark" style="background-image:url('images/demo/backgrounds/01.png');">
  <div id="shout" class="hoc container clear"> 

    <article>
      <h3 class="heading font-x2">STAY SAFE FROM COVID </h3>
      <p>Wash your hands often with soap and water for at least 20 seconds, especially after blowing your nose, coughing, sneezing or spending time in a public place.
If soap and water are not available, use a hand sanitizer that contains at least 60 percent alcohol.
To the extent possible, avoid touching high-touch surfaces in public places—elevator buttons, door handles, handrails, handshaking with people, etc. Use a tissue or your sleeve to cover your hand, or use your finger if you must touch something.
Wash your hands after touching surfaces in public places.
Avoid touching your face, nose, eyes, etc.</p>
    </article>

  </div>
</div>


</body>
</html>